* {
  box-sizing: border-box;
}

.video {
  list-style: none;
  padding: 0.5rem;
  display: flex;
  box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.2);
}

.video-name-context {
  padding: 0rem 2rem 2rem 2rem;
  width: 100%;
  margin-top: 10px;
}
.video-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.video-channel-name {
  color: gray;
  padding-top: 10px;
}
.video-detail-list {
  display: grid;
  float: right;
  width: 40%;
  height: auto;
}
.video-thumbnails {
  width: 40%;
  height: 100%;
  margin: 0 auto;
}
