* {
  box-sizing: border-box;
}
button {
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: #3d3d3d;
}
.searchbar {
  display: flex;
  font-size: 1.5em;
  background-color: #000;
}
.search-youtube-name {
  margin-top: 0.6em;
  color: #fff;
  font-weight: 500;
}

.search-youtube-logo {
  margin: 0.5em;
}
.search-form {
  font-size: 1.5em;
  padding-left: 1%;
  width: 100vw;
}

.search-input {
  font-size: large;
  width: 90%;
  height: 70%;
}
.search-button {
  padding: 0.5em;
}
